body {
	/* for prime react */
	font-family: var(--font-family);
	margin: 0px;
}
#dashboard-mic-icon-container {
	background-color: white;
	color: #292727;
	cursor: pointer;
}
#dashboard-mic-icon-container:hover {
	background-color: #292727;
	color: white;
	border: 1px solid aqua;
}
